@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-container {
  margin-top: 20px;
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(8, 8, 8);
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid rgb(255, 164, 164);
}

button {
  background: #f3afcf;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.box-field{
    width: 65%;
    background-color: rgb(76, 198, 235);
    font-family: arial;
    margin-top: 50px;
    margin-left: 30px;
    height: 80%;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    display: inline-block;
}
.newsbox {
  width: 25%;
  background-color: rgb(245, 226, 228);
  font-family: arial;
  margin-top: 50px;
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
}

.Books-field{
  width: 95%;
  background-color: rgb(139, 196, 235);
  font-family: arial;
  margin-top: 10px;
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
}

.rowC{display:flex; flex-direction:row;}
 
.form-field{
  width: 55%;
  background-color:hsl(180, 31%, 93%);
  color:black;
  font-family: arial;
  margin-top: 10px;
  margin-left: 30px;
  height: 80%;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block;
  justify-content: space-evenly;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}